doctype transitional
html(xmlns="http://www.w3.org/1999/xhtml")
  head
    meta(http-equiv="Content-Type" content="text/html;charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(content="telephone=no" name="format-detection")
    meta(name="x-apple-disable-message-reformatting")
    title Huggies Toddlers
    style(type="text/css")
      include style.css
  body(style="width:100%;padding:0;Margin:0;font-family:'baton turbo',arial,sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;font-size:16px;line-height:1.4;color:#474747;")
    div(style="background-color:#FFFFFF;")
      <!--[if gte mso 9]>
        <v:background xmlns:v="urn:schemas-microsoft-com:vml" fill="t">
          <v:fill type="tile" color="#ffffff;"></v:fill>
        </v:background>
      <![endif]-->
      table(width="100%" cellspacing="0" cellpadding="0" border="0")
        tr
          td
            include header.html
            include footer.html
