@mixin mobile {
  @media screen and (max-width: $width--tablet - 1px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $width--tablet) and (max-width: $width--notebook - 1px) {
    @content;
  }
}

@mixin notebook {
  @media screen and (min-width: $width--notebook) and (max-width: $width--desktop - 1px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $width--desktop) and (max-width: $width--tv - 1px) {
    @content;
  }
}

@mixin tv {
  @media screen and (min-width: $width--tv) {
    @content;
  }
}

@mixin container {
  margin-left: auto;
  margin-right: auto;
  width: $width--desktop;

  @include mobile() {
    width: $width--mobile;
  }

  @include tablet() {
    width: $width--tablet;
  }
}
